<ion-header>
  <ion-navbar>
    <ion-title>Wiki Transformers</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <h2>Welcome to Ionic!</h2>
  <p>
    This starter project comes with simple tabs-based layout for apps
    that are going to primarily use a Tabbed UI.
  </p>
  
  
<img src={{urlimagen}}>

   <ion-list>
    <ion-item-sliding  *ngFor="let info of infos">
      <ion-item lines="none" (click)="ListaFiguras(info.IdMenuLinea,info.Linea)">
      
        {{info.Linea}} <br>
        <ion-img [src]="info.Imagen"></ion-img> 
      </ion-item>            
    </ion-item-sliding>
  </ion-list>


<ion-row>
  
    <ion-col col-6 *ngFor="let info of infos">
        <ion-item>
            <ion-avatar item-left>              
               zzz
               <br> {{info.Linea}}
            </ion-avatar>
            
        </ion-item>
    </ion-col>
</ion-row>

</ion-content>
